doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      != 'Panel ' + username + ' Bot'
    style
      include css/index.css
  body
    div(class='tab')
      img(width="150px", src=avatarURL + "?size=512", id="logo")

    div(id='title')
      != '<b>' + username + "</b>'s Status"
    br/
    div(id="pfp")
      img(width="150px", src=avatarURL + "?size=512", id="pfp")
      div(id='status')
        span(class='dot')
        p(id='status')
          != "ONLINE"
      br/
      div
        a(id='invite', href='https://discord.com/oauth2/authorize?client_id=745021822361141278&permissions=84992&scope=bot', target="_blank") Invite bot

    div(id="infos")
      div
        div(id="guilds") Guilds 
        p(class="text")
          != guilds
      div
        div(id="channels") Channels
        p(class="text")
          != channels
      br/
      div
        div(id="botId") Bot ID
        p(class="text")
          != botId
      div
        div(id="actType") Activity
        p(class="text")
          != actType
      br/
      div
        div(id="commands") Commands
        br/
        span
          each val in commands
            p(class="command")= val.name
