@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  
body {
  font-family: 'Inter', sans-serif;
  background-color: #23242a;
  color: #767D86;
  margin: 0;
  padding: 0;
}

.tab {
  background-color: #1a1b1e;
  padding: 10px 20px 10px 20px;
  text-align: left;
}

div#title {
  margin-top: 3%;
  font-size: 20pt;
  text-align: center;
  margin-bottom: 50px;
}

div#pfp {
  text-align: center;
  width: 30%;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  margin-top: 8%;
  transform: translateY(-50%);
  display: inline-block;
}

div#status {
  position: relative;
  background-color: #1a1b1e;
  border-radius: 5px;
  width: 85px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px;
}

span.dot {
  height: 10px;
  width: 10px;
  background-color: #109e33;
  border-radius: 50%;
  display: inline-block;
}

p#status {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}

div#infos {
  display: inline-block;
  width: 70%;
  padding: 0;
  margin: 0;
  float: right;
  margin-top: 10%;
  position: relative;
  transform: translateY(-50%);
}

div#infos div div {
  font-weight: bold;
  font-size: 14pt;
}

div#infos div {
  width: 50%;
  margin-bottom: 20px;
  display: inline-block;
}

div#infos p {
}

p {
  margin: 0;
  padding: 0;
}

hr {
  width: 30%;
}

img#logo {
  border-radius: 50%;
  width: 50px;
  display: inline-block;
}

img#pfp {
  margin-top: 20px;
  border-radius: 50%;
}
  
a {
  color: rgb(220,220,220);
}

a#invite {
  background-color: #5865f2;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 7px 10px 7px 10px;
  color: #f1ecfc;
  transition: 0.2s;
}

a#invite:hover {
  background-color: #4a56d9;
  transition: 0.2s;
}

div#infos div div {
  text-transform: uppercase;
  color: #767D86;
  font-weight: bold;
}
  
@media screen and (max-width: 600px) {

    div#title {
      margin-top: 30px;
      font-size: 20pt;
      margin-bottom: 20px;
    }
  
    img#pfp {
      width: 50%;
    }
  
    div#pfp {
      text-align: center;
      top: 120px;
      width: 100%;
      padding: 0;
      margin: 0;
      position: relative;
      display: inline-block;
    }

    div#infos {
      width: 100%;
      top: 220px;
    }

    div#infos div div {
      font-weight: bold;
      font-size: 15pt;
      width: 100%;
      margin: 0;
      padding: 10px 0 10px 0;
      background: linear-gradient(to right, #23242a, #1a1b1e, #23242a);
      text-align: center;
    }

    div#infos div p {
      text-align: center;
    }
  
    div#infos div {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      font-size: 14pt;
      width: 100%;
      display: inline-block;
    }

    div#status {
      margin-top: 10px;
      width: 100px;
      padding: 0 5px 0 5px;
    }
  
    div#status p {
      font-size: 16pt;
    }

    span.dot {
      height: 14px;
      width: 14px;
      background-color: #109e33;
    }

    a#invite {
      font-size: 15pt;
    }
}
